bhmc-dcs-dev/bhmc-dcs-core/src/main/resources/schema/CommDMS .wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="FromCommDMS"
    targetNamespace="http://unixtext1/CommDMS.WS.provider:FromCommDMS"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapjms="http://www.w3.org/2010/soapjms/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://unixtext1/CommDMS.WS.provider:FromCommDMS"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
    <wsdl:types>
        <xsd:schema targetNamespace="http://unixtext1/CommDMS.WS.provider:FromCommDMS"
            xmlns:tns="http://unixtext1/CommDMS.WS.provider:FromCommDMS"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:element name="CommDMSDoc">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Header" nillable="true"
                            type="tns:Header" />
                        <xsd:element minOccurs="0" name="Body"
                            nillable="true" type="tns:Body" />
                        <xsd:element minOccurs="0" name="Attachments"
                            nillable="true" type="tns:Attachments" />
                        <xsd:element minOccurs="0" name="Footer"
                            nillable="true" type="tns:Footer" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="Header">
                <xsd:sequence>
                    <xsd:element name="IF_ID" nillable="true"
                        type="xsd:string" />
                    <xsd:element name="COMPANY" nillable="true"
                        type="xsd:string" />
                    <xsd:element name="SENDER" nillable="true"
                        type="xsd:string" />
                    <xsd:element name="RECEIVER" nillable="true"
                        type="xsd:string" />
                    <xsd:element minOccurs="0" name="ROOTCONTEXT_ID"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="CONTEXT_ID"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="MAINPROCESS_ID"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="SUBPROCESS_ID"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="ADDRESS"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TOTCOUNT"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="TRANCOUNT"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="FLAG"
                        nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Body">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="MESSAGE"
                        nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Attachments">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded"
                        minOccurs="0" name="Attachment" nillable="true"
                        type="tns:Attachment" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Attachment">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="NAME"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="PATH"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="DATA"
                        nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="Footer">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="IFRESULT"
                        nillable="true" type="xsd:string" />
                    <xsd:element minOccurs="0" name="IFFAILMSG"
                        nillable="true" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="FromCommDMS_PortType_CommDMSDoc">
        <wsdl:part name="parameters" element="tns:CommDMSDoc">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="FromCommDMS_PortType">
        <wsdl:operation name="FromCommDMS">
            <wsdl:input message="tns:FromCommDMS_PortType_CommDMSDoc">
            </wsdl:input>
            <wsdl:output message="tns:FromCommDMS_PortType_CommDMSDoc">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CommDMS_WS_provider_FromCommDMS_Binder"
        type="tns:FromCommDMS_PortType">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="FromCommDMS">
            <soap:operation
                soapAction="CommDMS_WS_provider_FromCommDMS_Binder_FromCommDMS"
                style="document" />
            <wsdl:input>
                <soap:body parts="parameters" use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body parts="parameters" use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CommDMS.WS.provider.FromCommDMS">
        <wsdl:port name="CommDMS_WS_provider_FromCommDMS_Port"
            binding="tns:CommDMS_WS_provider_FromCommDMS_Binder">
            <soap:address
                location="http://10.125.219.35:5555/ws/CommDMS.WS.provider.FromCommDMS/CommDMS_WS_provider_FromCommDMS_Port" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
